extends layout.pug

block content
  main.main-page
    h1.visually-hidden Главная страница личного блога Типотека
    section.main-page__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category of categories
          li.themes__item
            a.themes__item-link(href=`/articles/category/${category.id}`)
              | #{category.name}
              sup #{category.count}
    .main-page__section-flex
      section.main-page__hot.hot
        h2.hot__name
          | Самое обсуждаемое
          span.hot__icon.hot__icon--fire
        ul.hot__list(style='display: flex; flex-direction: column; row-gap: 30px;')
          each article of topArticles
            li.hot__list-item.hot__list-item--end
              a.hot__list-link(href=`/articles/${article.id}`)
                | #{article.text}
                sup.hot__link-sup #{article.count}
      section.main-page__last.last
        h2.last__name
          | Последние комментарии
          span.last__icon.last__icon--cloud
        ul.last__list(style='display: flex; flex-direction: column; row-gap: 20px;')
          each comment of topComments
            li.last__list-item.last__list-item--end
              img.last__list-image(src=`/img/${comment['users.avatar']}` width='20' height='20' alt='Аватар пользователя')
              b.last__list-name #{comment['users.name']}
              a.last__list-link(href=`/articles/${comment.articleId}/#comments`) #{comment.text}
    section.main-page__list.preview
      h2.visually-hidden Список превью статей
      include partials/preview-list.pug
    +pagination(page, totalPages, 2, `?`)
