extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article of articles
          li.notes__list-item
            time.notes__item-time(datetime=article.createdDateRobot) #{article.createdDateHuman}
            a.notes__item-text(href=`/articles/edit/${article.id}`) #{article.title}
            form(action='/my/articles/delete' method='POST')
              input(type='hidden' name=`id` value=article.id)
              button.notes__button.button.button--close-item(type='submit')
                span.visually-hidden Удалить
