extends layout.pug

block content
  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='/') Назад
            time.post__date(datetime=article.createdDateRobot) #{article.createdDateHuman}
            h2.post__title.title.title--main #{article.title}
            ul.post__themes.themes
              each category of article.categories
                li.themes__item
                  a.themes__item-link(href=`/articles/category/${category.id}`)
                    | #{category.name}
                    sup #{category.count}
          if (article.image)
            .post__picture
              img(src=article.image alt=article.title)
          .post__text
            p #{article.announce}
            p #{article.text}
      .post__wrapper.post__wrapper--comments
        section.post__comments.comments(name="comments" id="comments")
          if(article.comments.length === 0)
            h2.comments__title.title.title--middle Комментарии отсутствуют
          else
            h2.comments__title.title.title--middle Комментарии
          ul.comments__list
            each comment of article.comments
              li.comments__comment
                .comments__avatar.avatar
                .comments__text
                  .comments__head
                    p #{comment.name} •
                    time.comments__date(datetime=comment.createdDateRobot) #{comment.createdDateHuman}
                  p.comments__message #{comment.text}
          .comments__footer.comments__footer--user
            form(action=`/articles/${id}/comments` method='POST')
              input(type='hidden' name='_csrf' value=csrfToken)
              .comments__avatar.avatar
                img(src='/img/avatar-2.png' alt='аватар пользователя')
              label
                textarea(rows='1' name='message' placeholder='Присоединиться к обсуждению')
              +insertErrorMessages(validationMessages)
              button.comments__button.button.button--colored(type='submit') Опубликовать
